################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Caliburn.Micro.Reactive.Extensions/bin/Debug
/packages
/Caliburn.Micro.Reactive.Extensions/obj/Debug
*.suo
/Caliburn.Micro.Reactive.Extensions.Example/bin/Debug
/Caliburn.Micro.Reactive.Extensions.Example/obj/Debug
